*{
    margin: 0;
    padding: 0;
}

html {
    background-color: cornsilk;
}

body {
    max-width: 100vw;
    height: 100vh;

    color: rgb(99, 190, 193);
    background-color: rgb(38, 18, 18);

}

h1 {
    padding: 1em 0;
    text-align: center;
}

p {
    display: inline;
    text-align: center;
    
    color: black;
    background-color: rgb(99, 190, 193);
    
    margin: 1em;
    padding: .5em;
    border-radius: .5em;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
}