*{
    margin: 0;
}

html {
    background-color: cornsilk;
}

body {
    max-width: 1280px;
    height: 100vh;
    
    margin-left: auto;
    margin-right: auto;

    color: rgb(99, 190, 193);
    background-color: rgb(38, 18, 18);

}

h1 {
    text-align: center;
}